# FastAPI y servidor
fastapi
uvicorn[standard]
pydantic
pydantic[email]
python-multipart

# JWT y autenticación
PyJWT

# Flask (si necesitas integración)
Flask
Flask-SQLAlchemy
Flask-Login
Flask-SocketIO

# Base de datos
SQLAlchemy
PyMySQL

# Utilidades
python-dotenv
bcrypt
cryptography

# WebSocket y eventos (si usas SocketIO)
python-engineio
python-socketio
eventlet
